body {
margin: 0;
display: flex;
flex-direction: column;
background-color: #333333;
}


#header {
  background-color: #4d4d4d;
  text-align: center;
  width: 100%;
  height: 25vh;
}

.headertext {
font-family: 'Lato', sans-serif;
float: left;
font-size: 7vh;
margin-left: 4vw;
margin-right: 4vw;
padding-top: 3.1vh;
color: #cccccc;
user-select: none;
}

.headertext:hover {
color: #30e310;
  -webkit-transition: color 200ms linear;
transition: color 200ms linear;
}

.headernav {
  width: 50%;
  height: 100%;
  float: right;
  
   border-collapse: collapse;
}

.headernav th {
  width: 12.5%;
  margin: 3vw;
  user-select: none;

  color: #cccccc;
    border-collapse: collapse;
}

.headernav th:hover{
  background-color: #595959;
  color: #30e310;
  -webkit-transition: background-color 200ms linear;
transition: background-color 200ms linear;

}

.actualbody {
  width: 100%;
  height: 100%;
}

.lr {
  width: 100%;
  height: 60vh;
  background: green;
}

.left {
width: 50%;
background: blue;
float: left;
height: 100%;
}

.right {
width: 50%;
background: white;
margin-left: 50%;
height: 100%;
}

.body2 {
  height: 50vh;
  width: 100%; 
  padding: 3vw;
  box-sizing: border-box;
  
}

.title {
  text-align: center;
  width: 100%;
  font-family: verdana;
  font-size: 10vh;
  color: #ffffff;
}

.text {
  width: 100%;
  height: 100%;
  font-size: 4vh;
  font-family: Arial;
color: #ffffff;
}
